body {
    font-family: sans-serif;
    width: 100%;
    text-transform: uppercase;
    background: #779d4e;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}


.login-form {

    width: 100px;
    margin: 0 auto;
    background:url(img/Voran-430-440-finales-estudio-kobe-41.webp) no-repeat 0px 60px;
    background-size: cover;
    background-position: center;
    padding: 250px 250px 67px;
    border-top: 6px solid #525d54;
    box-shadow: 3.4px 8.5px 10.3px -1.1px;
    border-radius: 20px;

}

h1 {

    text-align: center;
    font-size: 45px;
    font-weight:bold ;
    margin-top: 24px;
    margin-bottom: 26px;
    color: #fff;

}

form {

    margin: 0 auto;

}

form p {

    font-size: 20px;
    margin-top: 44px;
    padding: 0.3px;
    color: #0a0909;

}

.login-form form input[type="text" ], input[type="password"]{

    outline: none;
    font-size: 20px;
    color: #0d0202;
    padding: 15px 20px;
    margin: 0 auto;
    width: 200%;
    border: none;
    border-bottom: 1px solid #ececec;
    display: block;
    background: transparent;

}

input[type="submit"] {

    width: 100%;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    padding: 13px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: #9c27b0;
    border: none;
    color: #FFF;
    transition: 0.3s all;

}

input[type="submit"]:hover{
    
    background: #780d6a;
    transition: 0.3s all;

}

.login-form a {
    
    display: block;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    margin-top: 31px;
    transition:  0.3s all;
}

.login-form a:hover {

    color: #9c27b0;
    transition: 0,3s all;
}
